:root {
  --header-color: #fff;
  --primary-color: #faad14;
  --secondary-color: #40a9ff;

  --side-panel-width: 260px;
  --header-height: 60px;
}

html {
  font-size: 16px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  height: 100%;
}

.auth_panel {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(255, 255, 255, .7);
  display: flex;
  justify-content: center;
  align-items: center;

  .wrapper {
    max-width: 400px;
    width: 100%;
    padding: 1.25rem;
    border: 1px solid #ccc;
    background-color: #fff;

    .form-header {
      font-size: 1.25rem;
    }
  }
}