:root {
  --header-color: #fff;
  --primary-color: #faad14;
  --secondary-color: #40a9ff;

  --side-panel-width: 260px;
  --header-height: 60px;
}

html {
  font-size: 16px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  height: 100%;
}