.forgot_password-form {
  .ant-row.ant-form-item:last-child {
    margin-bottom: 0;
  }

  .login-form-forgot {
    float: right;
  }

  .ant-col-rtl .login-form-forgot {
    float: left;
  }

  .login-form-button {
    width: 100%;
  }
}